# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Test & coverage artifacts
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Local configuration & environment variables
.env
.env.*
!.env.example

# Git metadata
.git/
.gitignore

# Development & test files
tests/
requirements-dev.txt
